<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>INTERNMATCH | Home</title>
</head>
<body>
    <header>
        <a href="#"><img src="" alt="">Likes</a>
        <a class="logo" href="#">INTERN<span>MATCH</span></a>
        <a href="#">Settings</a>
    </header>

    <div class="quote">
        <p>“Ik zoek een stagebedrijf dat mij kan helpen met Javascript”</p>
    </div>

    <main>
        
    </main>
</body>
</html>