<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body>

    <!-- navigation -->
    <%- include('./partials/nav.ejs')  %>

    <!-- Content -->
    <div class="not-found content">
        <h2>OOPS, Page not found :)</h2>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>