<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body>

    <!-- navigation -->
    <%- include('./partials/nav.ejs')  %>

    <!-- Content -->
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem quia impedit perferendis. Est nihil eos dolore suscipit delectus, enim aperiam cupiditate voluptatibus vitae saepe fugit libero earum veniam amet beatae. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum voluptas numquam incidunt vero eligendi ratione, ipsam hic autem quidem obcaecati facilis delectus, esse libero? Suscipit alias veniam reprehenderit culpa inventore.</p>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs')  %>  
</body>
</html>